{% if strongswan_secrets %}
{% for secret in strongswan_secrets %}
{% if secret.psk is defined %}
{{ secret.left }} {{ secret.right }} : PSK "{{ secret.psk }}"
{% elif secret.rsa is defined %}
{{ secret.left }} {{ secret.right }} : RSA "{{ secret.rsa }}"
{% endif %}
{% endfor %}
{% endif %}
