apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --listen-peer-urls={{ kubernetes_kubelet_manifests_etcd_listen_peer_urls }}
    - --listen-client-urls={{ kubernetes_kubelet_manifests_etcd_listen_client_urls }}
    - --advertise-client-urls={{ kubernetes_kubelet_manifests_etcd_advertise_client_urls }}
    - --data-dir=/var/lib/etcd
    image: gcr.io/google_containers/etcd-amd64:3.1.11
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: {{ kubernetes_kubelet_manifests_etcd_listen_client_host }}
        path: /health
        port: {{ kubernetes_kubelet_manifests_etcd_listen_client_port }}
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: etcd
    resources: {}
    volumeMounts:
    - mountPath: {{ kubernetes_kubelet_manifests_etcd_data_directory }}
      name: etcd
  hostNetwork: true
  volumes:
  - hostPath:
      path: {{ kubernetes_kubelet_manifests_etcd_data_directory }}
      type: DirectoryOrCreate
    name: etcd
status: {}
